<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>장바구니</h1>
    <table border="1">
        <tr>
            <th>상품 이름</th>
            <th>수량</th>
            <th>가격</th>
        </tr>
        <!-- 동적으로 아래 tr에 담긴 장바구니 내용 출력 -->
        {% for item_id, item_info in cart_items.items() %}
            <tr>
                <!-- 상품 담긴 정보를 출력 -->
                 <td>{{ item_info.name }}</td>
                 <td>{{ item_info.quantity }}</td>
                 <td>{{ item_info.price * item_info.quantity }}</td>
            </tr>
        {% endfor %}
        <p>전체 가격: {{ total_price }}원 </p>
        <a href="{{ url_for('index') }}">상품 목록으로 돌아가기</a>
    </table>
</body>
</html>