{% extends "base.html" %}
{% block style %}
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .form-title{
        margin: 40px;
    }
    .btn-wrap {
        margin: 45px;
    }
    button {
        margin: 10px;
    }
    a {
        color: white;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
    {% if user %}
    <form action="#" method="get">
        <h2 class="form-title">👋🏻 환영합니다!</h2>
        <h3>환영합니다, {{ user.name }}님! 로그인에 성공하셨습니다.</h3>
        <div class="btn-wrap">
            <button type="button" class="btn btn-danger"><a href="{{ url_for('logout') }}">로그아웃</a></button>
            <button type="button" class="btn btn-dark"><a href="{{ url_for('product') }}">상품 보기</a></button>
        </div>
    </form>
    {% else %}
    <form action="#" method="get">
        <h2 class="form-title">🏠 홈 페이지</h2>
        <h3>이곳은 Flask 웹 애플리케이션의 시작 화면입니다.</h3>
        <div class="btn-wrap">
            <button type="button" class="btn btn-primary"><a href="{{ url_for('login') }}">로그인</a></button>
            <button type="button" class="btn btn-dark"><a href="{{ url_for('product') }}">상품 보기</a></button>
        </div>
    </form>
    {% endif %}
{% endblock %}