<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>사용자 검색</h1>

    <form>
        <label>사용자 ID: <input type="number" id="id"></label>
        <button type="submit">검색</button>
    </form>

    <p>사용자 목록</p>
    { % if user_id % }
        <!-- 특정 사용자 출력 -->
         { % set user = users.get(user_id) % }
         <ul>
            <li> ID: {{ u.id }}, 이름: {{ u.name }}, 이메일: {{ u.email }}</li>
         </ul>
    { % else %}
        <!-- 전체 사용자 출력 -->
         <ul>
            { % for u in users.values() % }
            <li><a href="/user/{{u.id}}"> ID: {{ u.id }}</a>, 이름: {{ u.name }}, 이메일: {{ u.email }}</li>
            { % endfor % }
         </ul>
    { % endif % }
</body>
</html>